@import "tailwindcss";

@layer base {
  html {
    font-family: 'Inter', system-ui, sans-serif;
  }
  
  body {
    background-color: rgb(249 250 251);
    color: rgb(17 24 39);
    -webkit-font-smoothing: antialiased;
  }
  
  * {
    border-color: rgb(229 231 235);
  }
}
